@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
}

div > p {
    display: none;
}

div:hover > p{
    display: block;
    color: antiquewhite;
    background-color: red;
    width: 250px;

}

div:hover {
    color: red;
}